01-intro/models/*
02-experiment-tracking/mlruns/*
02-experiment-tracking/mlflow.db
02-experiment-tracking/models/*
02-experiment-tracking/preprocessor/
02-experiment-tracking/homework/output/*
02-experiment-tracking/homework/mlflow.db
02-experiment-tracking/homework/mlruns/*
02-experiment-tracking/homework/artifacts/*
02-experiment-tracking/homework/backend.db
03-orchestration/mlops/dict_vectorizer.pkl
04-deployment/web-service/lin_reg.bin
04-deployment/web-service-mlflow/mlflow.db
mlflow.db
